[ 1 az 2 strany ]
1. opis problemu + motivacia
2. opis dat + charakteristiky (zdroj, struktura, format, mnozstva)
    - opisna statistika (median, priemer, outlier, chybajuce hodnoty...)
    - korelacia a zavislosti medzi atributmi
3. definovanie ulohy, predpokladany scenar riesenia
    - klasifikacia - class atribut
    - regresia - atribut, distribucia
    
zdroj dat: https://www.kaggle.com/avikasliwal/used-cars-price-prediction

In [1]:
import numpy as np
import pandas as pd
import re

## Nacitanie dat

In [8]:
df = pd.read_csv('data/cars_raw.csv').drop('Unnamed: 0', axis=1)

In [10]:
df.head(10)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,Manual,First,21.1 km/kg,814 CC,55.2 bhp,5.0,NaN,2.35
6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95

## Analyza datasetu

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
Name                 6019 non-null object
Location             6019 non-null object
Year                 6019 non-null int64
Kilometers_Driven    6019 non-null int64
Fuel_Type            6019 non-null object
Transmission         6019 non-null object
Owner_Type           6019 non-null object
Mileage              6017 non-null object
Engine               5983 non-null object
Power                5983 non-null object
Seats                5977 non-null float64
New_Price            824 non-null object
Price                6019 non-null float64
dtypes: float64(2), int64(2), object(9)
memory usage: 611.4+ KB

In [12]:
df.nunique()

Name                 1876
Location               11
Year                   22
Kilometers_Driven    3093
Fuel_Type               5
Transmission            2
Owner_Type              4
Mileage               442
Engine                146
Power                 372
Seats                   9
New_Price             540
Price                1373
dtype: int64

## Analyza stlpcov datasetu
- vypis najcastejsich hodnot v jednotlivych stlpcoch + pocet unikatnych hodnot v datasete

In [25]:
for col in df:
    print(f"{col} [{len(df[col].value_counts())}]")
    print(df[col].value_counts()[:5])
    print()

Name [1876]
Mahindra XUV500 W8 2WD    49
Maruti Swift VDI          45
Maruti Swift Dzire VDI    34
Honda City 1.5 S MT       34
Maruti Swift VDI BSIV     31
Name: Name, dtype: int64

Location [11]
Mumbai        790
Hyderabad     742
Kochi         651
Coimbatore    636
Pune          622
Name: Location, dtype: int64

Year [22]
2014    797
2015    744
2016    741
2013    649
2017    587
Name: Year, dtype: int64

Kilometers_Driven [3093]
60000    82
45000    70
65000    68
50000    61
70000    60
Name: Kilometers_Driven, dtype: int64

Fuel_Type [5]
Diesel      3205
Petrol      2746
CNG           56
LPG           10
Electric       2
Name: Fuel_Type, dtype: int64

Transmission [2]
Manual       4299
Automatic    1720
Name: Transmission, dtype: int64

Owner_Type [4]
First             4929
Second             968
Third              113
Fourth & Above       9
Name: Owner_Type, dtype: int64

Mileage [442]
17.0 kmpl     172
18.9 kmpl     172
18.6 kmpl     119
20.36 kmpl     88
21.1 kmpl      86
Name: Mileage, dtype: int64

Engine [146]
1197 CC    606
1248 CC    512
1498 CC    304
998 CC     259
2179 CC    240
Name: Engine, dtype: int64

Power [372]
74 bhp      235
98.6 bhp    131
73.9 bhp    125
140 bhp     123
78.9 bhp    111
Name: Power, dtype: int64

Seats [9]
5.0    5014
Name: Seats, dtype: int64

New_Price [540]
95.13 Lakh    6
63.71 Lakh    6
4.78 Lakh     6
11.67 Lakh    5
11.26 Lakh    5
Name: New_Price, dtype: int64

Price [1373]
4.50    88
5.50    84
3.50    82
4.25    73
3.25    71
3.00    68
6.50    64
2.50    63
4.00    56
4.75    53
3.75    52
6.00    52
5.25    51
5.00    47
Name: Price, dtype: int64